* {
    margin: 0;
    padding: 0;
}

body, html {
    z-index: -10;
    background-image: url(../templates/images/bg.png);
    width: 100%;
    height: 100%;
}

#me-container {
    min-height: 100%;
}

#me-main {
    overflow: auto;
   padding-bottom: 80px;
}